@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  color: white;
  font-family: 'Inter', sans-serif;
}

canvas {
  display: block;
}
